html {
  height: 100vh;
}
body {
  font-family: "Comic Neue", cursive;
  font-weight: 700;
  font-size: 29px;
  padding: 0;
  margin: 0;
  background: white;
  margin-top: 0; /* Add this line to remove top margin */

}

h1 {
  width: 1000px;
  text-align: center;
  margin: 100px auto 20px auto;
}
.intro{
  writing-mode: sideways-lr;
  margin: 5px auto 5px auto;
  padding: 0px;
  /* background-color: gray;  */
}

.accordion {
  max-width: 100%;
  /* #FD389D */
  /* #8cff11 */
  background: white;
  width: 100vw;
  height: 100vh;
  /* margin: 20px auto; */
  display: flex;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.47);
  flex-direction: row;
  cursor: pointer;
  margin-top: 0; /* Add this line to remove top margin */
}
.box {
  position: relative;
  height: 100vh;
  flex: 1;
  background-position: left;
  background-size: cover;
  /* border: 0.25px solid black; */
  transition: .9s;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.31);
}
.box:hover{
  flex: 7;
  height: 100vh;
}
.a1 {
  /* background-image: url("./images/wall.png"); */
  background-size:flex;
  margin-top: 0; /* Add this line to remove top margin */

}
.a2 {
  background-image: url("./images/wall.png")
}
.a3 {
  background-image: url("./images/nytt.png");
}
/* p {
  font-family: "Comic Neue", cursive;
  font-weight: 300;
  font-style: normal;
} */
.text {
  position: absolute;
  bottom: 0;
  opacity: 0;
  padding: 10px;
}
.box:hover .text{
  opacity:1;
}

@media screen and (max-width: 800px){
  body{
      margin: 0;
  }
  .accordion {
      flex-direction: column;
      /* width: 100vw; */
      /* height: 100vh; */
      height: 700px;
      box-shadow: none;
  }
  .box {
      box-shadow: none;
  }
  .box:hover {
      flex: 7;
  }
}