*{
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

/* nav bar */
.nav-bar {
  height: 40px;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  gap: 100px;
  border-bottom: solid black 1px;
}
.nav-bar a {
  font-size: 2vh;
  color: black;
  text-decoration: none;
}
a:hover {
  font-family: Arial, Helvetica, sans-serif; 
}
a:active {
  padding-top: 8px;
}
.nav-spacer {
  flex-grow: 1;
}

.tags[data-v-8f1fb668] {
  color: #000;
  padding: 0 .6rem;
  margin: 10;
  border: 1px solid #000;
  border-radius: 2rem;
  font-size: 12px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
}


#listHead[data-v-8f1fb668] {
    -webkit-box-orient: horizontal;
    -ms-flex-direction: row;
    flex-direction: row;
    border-bottom: 1px solid #000;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    display: flex;
    height: 3.2rem;
    width: 100%;
    padding: .7rem 1rem .8rem;
    margin: 0;
    color: grey;
    cursor: pointer;
    /* background-color: #fff; */
}

body {
  height: 100vh;
  width: 100vw;
  /* animation: 1s blink infinite; */

  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: gray;

}

/* title */
h1{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: gray;
  text-align: left;
  padding: 10px;

}

h5{
  font-size: 1.2em;
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  text-align: start;
  /* position: relative; */
  padding: 7%;
  /* text-align: center;
  position: absolute;
  bottom: 0; */
  width: 100vw;
  height: 100vh;
}

/* sunset+sunrise */
p {
  font-size: 16px;
  color: gray;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  text-align: start;
  position: relative;
  padding: 7%;
  /* bottom: 0; */
  width: 100%;
}

.main-container {
  width: 95%;
  margin: auto;
}

/* add note */
.container1{
  position:absolute;
  right:    0;
  bottom:   0;
  float: left;
  /* width: 97%; */
  /* margin-right: 0px;
  margin-left: -2%;
  margin-bottom: 0; */
}

.container2 {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-left: 5%;
}

.container3 {
  display: none;
  position: absolute;
  top: 26%;
  left: 40%;
}

textarea {
  box-shadow: 10px 10px 24px 0px rgba(0,0,0,0.25);
  outline: none;
  border: none;
  width: 275px;
  height: 275px;
  padding: 40px 25px 25px 25px;

}

svg {
  color: gray;
}

#check-icon{
  position: absolute;
  right: 17%;
  top: 4%;
}

#x-icon{
  position: absolute;
  right: 5%;
  top: 4%;
}
